/* Colors */
/* Buttons colors */
/* main color for Autoplicity */
/* main color for Boatplicity */
/* main color for Thmotorsports */
/* main color for Cycleplicity */
/* main color for DirtEverywhere */
@font-face {
  font-family: 'Gotham';
  src: url("/Themes/Autoplicity/Content/fonts/gotham/gotham-bold-webfont.eot");
  src: url("/Themes/Autoplicity/Content/fonts/gotham/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/Themes/Autoplicity/Content/fonts/gotham/gotham-bold-webfont.woff"), url("/Themes/Autoplicity/Content/fonts/gotham/GothamBold.ttf") format("truetype"), url("/Themes/Autoplicity/Content/fonts/gotham/gotham-bold-webfont.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gotham';
  src: url("/Themes/Autoplicity/Content/fonts/gotham/gothammedium_1-webfont.eot");
  src: url("/Themes/Autoplicity/Content/fonts/gotham/gothammedium_1-webfont.eot?#iefix") format("embedded-opentype"), url("/Themes/Autoplicity/Content/fonts/gotham/gothammedium_1-webfont.woff") format("woff"), url("/Themes/Autoplicity/Content/fonts/gotham/GothamMedium.ttf") format("truetype"), url("/Themes/Autoplicity/Content/fonts/gotham/gothammedium_1-webfont.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gotham';
  src: url("/Themes/Autoplicity/Content/fonts/gotham/gothamlight-webfont.eot");
  src: url("/Themes/Autoplicity/Content/fonts/gotham/gothamlight-webfont.eot?#iefix") format("embedded-opentype"), url("/Themes/Autoplicity/Content/fonts/gotham/gothamlight-webfont.woff") format("woff"), url("/Themes/Autoplicity/Content/fonts/gotham/GothamLight.ttf") format("truetype"), url("/Themes/Autoplicity/Content/fonts/gotham/gothamlight-webfont.svg") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

footer {
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%; }
  footer .footer-top {
    border-bottom: 1px solid #757575;
    display: block;
    position: relative;
    text-align: center;
    width: 100%; }
    footer .footer-top .footer-inner {
      display: block;
      margin: 0 auto;
      padding: 0 10px;
      position: relative;
      width: 100%;
      max-width: 1260px; }
      footer .footer-top .footer-inner .footer-top-columns {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between; }
        footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          margin: 0 10px 0 0;
          width: 100%; }
          footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-information {
            padding: 40px 10px 40px 0;
            text-align: left; }
            footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-information .footer-top-information-logo {
              display: inline-block;
              cursor: pointer;
              margin: 0 0 40px 0; }
              footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-information .footer-top-information-logo img {
                display: block;
                width: 100%;
                max-width: 190px; }
            footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-information h5 {
              color: #757575;
              font-weight: 300;
              font-size: 14px;
              cursor: default;
              margin: 0 0 5px 0; }
            footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-information .footer-top-information-phone {
              color: #110F11;
              font-weight: 300;
              font-size: 12px;
              transition: ease-in-out 0.2s; }
              footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-information .footer-top-information-phone:hover {
                color: #2B63E3;
                text-decoration: none; }
          footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-shipping-returns,
          footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-coupons,
          footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-my-account {
            padding: 40px 10px 20px 0;
            text-align: left; }
            footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-shipping-returns h3,
            footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-coupons h3,
            footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-my-account h3 {
              color: #110F11;
              font-weight: 300;
              font-size: 14px;
              cursor: default;
              margin: 0 0 15px 0; }
            footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-shipping-returns ul li,
            footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-coupons ul li,
            footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-my-account ul li {
              margin: 0 0 15px 0; }
              footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-shipping-returns ul li:last-child,
              footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-coupons ul li:last-child,
              footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-my-account ul li:last-child {
                margin: 0; }
              footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-shipping-returns ul li a,
              footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-coupons ul li a,
              footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-my-account ul li a {
                color: #110F11;
                font-weight: 300;
                font-size: 14px;
                transition: ease-in-out 0.2s; }
                footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-shipping-returns ul li a:hover,
                footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-coupons ul li a:hover,
                footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-my-account ul li a:hover {
                  color: #2B63E3;
                  text-decoration: none; }
        footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right {
          width: 100%;
          max-width: 450px; }
          footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us {
            background-color: #2B63E3;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 41px 40px;
            position: relative;
            text-align: left; }
            footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left h5 {
              color: #FFFFFF;
              margin: 0 0 15px 0;
              font-weight: 300;
              font-size: 14px; }
            footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email {
              border: 1px solid #FFFFFF;
              border-radius: 50px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              margin: 0 0 30px 0;
              padding: 4px 5px; }
              footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email input {
                background-color: transparent;
                color: #FFFFFF;
                border: none;
                font-weight: 300;
                font-size: 14px;
                outline: none;
                text-align: left;
                margin: 0;
                text-underline-position: under;
                width: 100%; }
                footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email input::placeholder {
                  color: #FFFFFF;
                  font-weight: 300;
                  font-size: 14px; }
              footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button {
                background-color: #FFFFFF;
                color: #2B63E3;
                cursor: pointer;
                padding: 11px 30px;
                position: relative;
                border: none;
                border-radius: 50px;
                overflow: hidden;
                transition: ease-in-out 0.2s; }
                footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button p {
                  color: #2B63E3;
                  font-size: 14px;
                  font-weight: bold;
                  padding: 0 10px 0 0;
                  pointer-events: none;
                  margin: 0 auto;
                  transition: ease-in-out 0.1s; }
                footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button:before {
                  background: url("/Content/images/icons-footer/send.svg") no-repeat;
                  content: "";
                  position: absolute;
                  pointer-events: none;
                  left: -40px;
                  top: 2px;
                  height: 34px;
                  width: 34px;
                  filter: invert(30%) sepia(48%) saturate(3060%) hue-rotate(212deg) brightness(93%) contrast(91%);
                  transition: ease-in-out 0.2s; }
                footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button:hover p {
                  color: #FFFFFF; }
                footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button:hover:before {
                  left: 27px; }
              footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email .please-wait {
                color: #FFFFFF;
                font-weight: 300;
                font-size: 14px;
                margin: 0 0 0 3px; }
            footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .newsletter-result-block {
              color: #FFFFFF;
              margin: -20px 0 20px 0;
              font-weight: 300;
              font-size: 14px;
              width: 100%; }
            footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-right .footer-top-follow-us-accounts {
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              justify-content: flex-start;
              text-align: left; }
              footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-right .footer-top-follow-us-accounts a {
                background-size: contain;
                cursor: pointer;
                margin: 0 25px 0 0;
                height: 20px;
                width: 20px; }
                footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-right .footer-top-follow-us-accounts a:last-child {
                  margin: 0; }
              footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-right .footer-top-follow-us-accounts .footer-top-follow-us-twitter {
                background: url("/Content/images/icons-footer/Twitter.svg") no-repeat center; }
              footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-right .footer-top-follow-us-accounts .footer-top-follow-us-instagram {
                background: url("/Content/images/icons-footer/Instagram.svg") no-repeat center; }
              footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-right .footer-top-follow-us-accounts .footer-top-follow-us-facebook {
                background: url("/Content/images/icons-footer/Facebook.svg") no-repeat center; }
  footer .footer-bottom {
    display: block;
    padding: 13px 0;
    position: relative;
    text-align: center;
    width: 100%; }
    footer .footer-bottom .footer-inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0 10px;
      width: 100%;
      max-width: 1260px; }
      footer .footer-bottom .footer-inner .footer-bottom-copyright p {
        color: #757575;
        font-weight: 300;
        font-size: 14px; }
      footer .footer-bottom .footer-inner .footer-bottom-pay-icons ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; }
        footer .footer-bottom .footer-inner .footer-bottom-pay-icons ul li {
          background-size: contain;
          height: 30px;
          width: 70px; }
          footer .footer-bottom .footer-inner .footer-bottom-pay-icons ul li.paypal {
            background: url("/Content/images/icons-footer/PP.svg") no-repeat center; }
          footer .footer-bottom .footer-inner .footer-bottom-pay-icons ul li.visa {
            background: url("/Content/images/icons-footer/V.svg") no-repeat center; }
          footer .footer-bottom .footer-inner .footer-bottom-pay-icons ul li.discover {
            background: url("/Content/images/icons-footer/DN.svg") no-repeat center; }
          footer .footer-bottom .footer-inner .footer-bottom-pay-icons ul li.american-express {
            background: url("/Content/images/icons-footer/AE.svg") no-repeat center; }
          footer .footer-bottom .footer-inner .footer-bottom-pay-icons ul li.pay {
            background: url("/Content/images/icons-footer/P.svg") no-repeat center; }
  footer .shopper-approved {
    display: block;
    text-align: center;
    width: 100%; }
    footer .shopper-approved a {
      color: #757575;
      font-weight: 300;
      font-size: 14px; }

/* Styles for DirtEverywhere */
.Boatplicity footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us {
  background-color: #7689a9; }
  .Boatplicity footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button p {
    color: #7689a9; }
  .Boatplicity footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button:before {
    filter: brightness(0) saturate(100%) invert(66%) sepia(30%) saturate(360%) hue-rotate(179deg) brightness(77%) contrast(88%); }
  .Boatplicity footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button:hover p {
    color: #FFFFFF; }

/* End Styles for DirtEverywhere */
/* Styles for DirtEverywhere */
.THMotorsports footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us {
  background-color: #920a08; }
  .THMotorsports footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button p {
    color: #920a08; }
  .THMotorsports footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button:before {
    filter: brightness(0) saturate(100%) invert(16%) sepia(31%) saturate(5914%) hue-rotate(350deg) brightness(94%) contrast(107%); }
  .THMotorsports footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button:hover p {
    color: #FFFFFF; }

/* End Styles for DirtEverywhere */
/* Styles for Cycleplicity */
.Cycleplicity footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us {
  background-color: #920a08; }
  .Cycleplicity footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button p {
    color: #920a08; }
  .Cycleplicity footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button:before {
    filter: brightness(0) saturate(100%) invert(16%) sepia(31%) saturate(5914%) hue-rotate(350deg) brightness(94%) contrast(107%); }
  .Cycleplicity footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button:hover p {
    color: #FFFFFF; }

/* End Styles for Cycleplicity */
/* Styles for DirtEverywhere */
.DirtEverywhere footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us {
  background-color: #e9af1f; }
  .DirtEverywhere footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button p {
    color: #e9af1f; }
  .DirtEverywhere footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button:before {
    filter: brightness(0) saturate(100%) invert(57%) sepia(100%) saturate(401%) hue-rotate(3deg) brightness(107%) contrast(83%); }
  .DirtEverywhere footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email button:hover p {
    color: #FFFFFF; }

/* End Styles for DirtEverywhere */
/* === === === === === === === === === === === === MOBILE === === === === === === === === === === === === */
@media only screen and (max-width: 960px) {
  footer .footer-top .footer-inner .footer-top-columns {
    flex-direction: column; }
    footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left {
      order: 2; }
    footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right {
      max-width: none;
      order: 1; }
      footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us {
        flex-direction: row;
        align-items: center;
        justify-content: space-between; }
        footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left {
          min-width: 300px; }
          footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email {
            margin: 0;
            max-width: 300px; } }

@media only screen and (max-width: 800px) {
  footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left {
    flex-wrap: wrap;
    margin: 10px 0 40px; }
    footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-information {
      padding: 40px 10px 40px 0;
      width: 100%; }
      footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-information .footer-top-information-logo {
        margin: 0 0 20px 0; }
    footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-shipping-returns,
    footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-coupons,
    footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-my-account {
      padding: 5px 10px 5px 0;
      width: 33%; }
      footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-shipping-returns:last-child,
      footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-coupons:last-child,
      footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-my-account:last-child {
        padding: 5px 0 5px 0; }
      footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-shipping-returns h3,
      footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-coupons h3,
      footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-left .footer-top-my-account h3 {
        display: none; }
  footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
    footer .footer-top .footer-inner .footer-top-columns .footer-top-columns-right .footer-top-follow-us .footer-top-follow-us-left .footer-top-follow-us-email {
      margin: 0 0 30px 0; }
  footer .footer-bottom .footer-inner {
    flex-direction: column-reverse;
    margin: 15px auto; }
    footer .footer-bottom .footer-inner .footer-bottom-copyright p {
      margin: 15px 0 0; } }
