@model DomainCore.TaskDomain
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Operations</title>
</head>
<body>
    <h1>CRUD Operations</h1>
    <hr />
    <form id="addForm">
        <input type="text" id="TaskName" class="form-control" placeholder="Enter Name">
        @*<input type="text" id="Brigade" class="form-control" placeholder="Enter Email">*@
        @Html.DropDownListFor(model => model.RoleId, Model.BrigadeList, "Enter Brigade", htmlAttributes: new { @class = "form-control", @id = "Brigade" })
        @Html.DropDownListFor(model => model.StatusId, Model.StatusList, " Enter Status", htmlAttributes: new { @class = "form-control", @id = "StatusId" })
        @Html.HiddenFor(model => model.OpenDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.HiddenFor(model => model.ClosedDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        <button type="submit">Add Task</button>
    </form>
    <hr />
    <br />
    <table class="table" id="usersTable">
        <thead>
            <tr>
                <th>NameTask</th>
                <th>Brigade</th>
                <th>Status</th>
                <th>FullCustomerName</th>
                <th>OpenDate</th>
                <th>ClosedDate</th>
            </tr>
        </thead>
        <tbody id="usersData"></tbody>
    </table>
    <script src="~/Scripts/main.js"></script>
</body>
</html>