@model DomainCore.Order
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<body>
    <h1>Report</h1>
    <hr />
    <form id="addForm">

    </form>
    <br />
    <table class="table" id="ReportTable">
        <thead>
            <tr>
                <th>Brigade</th>
                <th>CountTasks</th>
            </tr>
        </thead>
        <tbody id="ReportData"></tbody>
    </table>
    <script src="~/Scripts/Report.js"></script>
</body>
</html>

