/* Colors */
$black: #110F11;

$grey-darkness: #666684;
$grey-dark: #aaaaaa;
$grey: #757575;
$grey-light: #F3F2F4;

$green-dark: #449e66;

$blue-dark: #2B63E3;
$blue: #4298E4;

$orange: #FA9D5C;
$orange-light: #fef5ee;

$red: #dc0006;

$white: #FFFFFF;

/* Buttons colors */
$applepay: #000000;
$paypal: #242E61;
$yellow: #F7C457;

/* main color for Autoplicity */
$green: #6AD483;

/* main color for Boatplicity */
$blue-dark-boatplicity: #0c1731;
$blue-boatplicity: #7689a9;

/* main color for Thmotorsports */
$red-thmotorsports-dark: #920a08;

/* main color for Cycleplicity */
$red-cycleplicity-dark: #920a08;

/* main color for DirtEverywhere */
$yellow-dark-dirtEverywhere: #e9af1f;