.blog-page .blog-posts {
    margin: 0 5px;
    padding: 0;
}

    .blog-page .blog-posts .post {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

        .blog-page .blog-posts .post:last-child {
            border-bottom: none;
        }

        .blog-page .blog-posts .post .post-date {
            color: #9a9a9a;
        }

        .blog-page .blog-posts .post a.post-title {
            color: #444;
            text-decoration: none;
            font-size: 1.2em;
        }

            .blog-page .blog-posts .post a.post-title:hover {
                text-decoration: underline;
            }

        .blog-page .blog-posts .post .tags label {
            float: left;
            margin-right: 5px;
        }

        .blog-page .blog-posts .post .tags li {
            float: left;
            list-style: none;
        }

            .blog-page .blog-posts .post .tags li.separator {
                margin-right: 5px;
            }

    .blog-page .blog-posts .post-body, .blog-page .blog-posts .tags {
        margin-top: 10px;
        margin-bottom: 10px;
        zoom: 1;
    }

.blog-page .tags:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}

.blog-page .blog-posts .post-body a, .blog-page .blog-posts .tags a {
    color: #5C5B5B;
    text-decoration: underline;
}

.blog-page .blog-posts .blog-details {
    margin-top: 15px;
}

    .blog-page .blog-posts .blog-details a {
        font-weight: 700;
        text-decoration: none;
        color: #5C5B5B;
        background-color: inherit;
    }

.blogpost-page .post-date {
    color: #9a9a9a;
}

.blogpost-page .post-body:after, .blogpost-page .tags:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}

.blogpost-page .tags {
    margin: 0 0 20px;
    zoom: 1;
}

    .blogpost-page .post-body a, .blogpost-page .tags a {
        color: #5C5B5B;
        text-decoration: underline;
    }

        .blogpost-page .post-body a:hover, .blogpost-page .tags a:hover {
            color: #B80709;
            text-decoration: underline;
            font-weight: normal;
        }

    .blogpost-page .tags label {
        float: left;
        margin-right: 5px;
    }

    .blogpost-page .tags li {
        float: left;
        list-style: none;
    }

        .blogpost-page .tags li.separator {
            margin-right: 5px;
        }

.blogpost-page .result {
    font-family: Verdana,Arial,sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: red;
    margin-bottom: 10px;
}

.blogpost-page .new-comment {
    margin-top: 10px;
}

    .blogpost-page .new-comment .captcha-box {
        margin-bottom: 12px;
    }

    .blogpost-page .new-comment .comment-text {
        width: 350px;
        height: 150px;
        vertical-align: middle;
    }

    .blogpost-page .new-comment .buttons {
        text-align: left;
    }

.blogpost-page .comment-list {
    margin: 10px 0px 10px 0;
}

    .blogpost-page .comment-list .title {
        padding: 10px 10px 10px 0;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.1em;
        color: #3a3a3a;
    }

.blog-comment {
    margin-bottom: 20px;
    zoom: 1;
}

    .blog-comment:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }

    .blog-comment .comment-info {
        width: 170px;
        float: left;
        padding: 5px;
        height: 100%;
        border-right: solid 1px #ccc;
    }

        .blog-comment .comment-info .user-info {
            padding-top: 5px;
        }

            .blog-comment .comment-info .user-info a.username {
                font-weight: 700;
                margin-bottom: 5px;
            }

            .blog-comment .comment-info .user-info span.username {
                font-weight: 700;
                margin-bottom: 5px;
            }

            .blog-comment .comment-info .user-info .avatar {
                margin: 5px 0;
            }

                .blog-comment .comment-info .user-info .avatar .avatar-img {
                    border: solid 2px #CEDBE1 !important;
                }

    .blog-comment .comment-content {
        margin-left: 180px;
        border-left: solid 1px #ccc;
    }

        .blog-comment .comment-content .comment-time {
            font-weight: 700;
            line-height: 20px;
            padding: 3px;
            background: #e3f3f3;
        }

            .blog-comment .comment-content .comment-time .stat-value {
                font-weight: 400;
            }

        .blog-comment .comment-content .comment-body {
            padding: 3px;
        }
