/* Colors */
$black: #110F11;

$grey-darkness: #666684;
$grey-dark: #aaaaaa;
$grey: #757575;
$grey-light: #F3F2F4;

$green: #6AD483;
$green-dark: #449e66;

$blue-dark: #2B63E3;
$blue: #4298E4;

$orange: #FA9D5C;
$orange-light: #fef5ee;

$red: #dc0006;

$white: #FFFFFF;

/* Buttons colors */
$applepay: #000000;
$paypal: #242E61;
$yellow: #F7C457;